# Normalização textual
* text=auto eol=lf

# Scripts Linux/PowerShell
*.sh text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.psd1 text eol=lf

# Scripts Windows tradicionais
*.bat text eol=crlf
*.cmd text eol=crlf

# Binários
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.zip binary
*.gz binary
